<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ГЛАВНАЯ</title>
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='JC.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='jquery-3.7.1.js') }}"></script>
</head>
<body>
    <div id="background">
        <header class="header">
            <div id="timenow">
                <div id="time"></div>
                    <script>
                        document.addEventListener('DOMContentLoaded',function time() {
                            var now = new Date()
                            var seconds = now.getSeconds()
                            var minutes = now.getMinutes()
                            var hours = now.getHours()
                            var AMPM = hours >= 12 ? 'PM' : 'AM'
                            seconds = seconds < 10 ? '0' + seconds : seconds
                            minutes = minutes < 10 ? '0' + minutes : minutes
                            hours = hours === 12 ? hours : hours%12
                            document.getElementById('time').innerHTML = `${AMPM}:${hours}:${minutes}:${seconds}`
                            setTimeout(time, 1000)
                        });
                    </script>
            </div>  <!-- текущее время-->
            <div id="theme">Тёмная тема.
                <script>
                    var clickCount = 0;
                    var time = 'night';
                    document.addEventListener('DOMContentLoaded',function theme () {
                        document.getElementById('theme').addEventListener("click", function () {
                            if (clickCount === 2) {
                                clickCount = 0;
                                let nowtTime = new Date();
                                let hours = nowtTime.getHours();
                                if (hours < 20) {
                                    day();
                                    time = 'day';
                                    $('#theme').text(`АВТО режим. (светлая)`);
                                }
                                else {
                                    night();
                                    time = 'night';
                                    $('#theme').text(`АВТО режим. (тёмная)`);
                                }
                            }
                            else {
                                if (time === 'night') {
                                    $('.header').css('backgroundColor', 'rgb(145,145,145)');
                                    $('#background').css('backgroundColor', 'rgba(253,253,253,0.8)');
                                    $('.page-footer').css('backgroundColor', 'rgb(145,145,145)');
                                    time = 'day';
                                    clickCount++
                                    $('#theme').text(`Светлая тема.`)
                                } else {
                                    $('.header').css('backgroundColor', 'rgb(44, 44, 44)');
                                    $('#background').css('backgroundColor', 'rgba(56, 56, 56, 0.9)');
                                    $('.page-footer').css('backgroundColor', 'rgb(44, 44, 44)');
                                    time = 'night';
                                    clickCount++
                                    $('#theme').text(`Тёмная тема.`)
                                }
                            }
                        })

                    })
                    setInterval(theme, 5000);
                </script>
            </div>  <!-- Темная и светлая темы + автоопределение -->
            <h1 id="myHeader">Кодим...</h1>
            <details class="details">
                <summary>
                    <p>Подробная информация о сайте<p>
                </summary>
                <p>Привет! Меня зовут Александр и я начинающий разработчик.
                    Этот сайт - мой проэкт, в котором я реализую на
                    практике полученные знания от изучения Хард скилов.</p>  <p>Стэк: FastAPI, HTML, CSS, JS</p>
            </details>
        </header>
        <nav id="navigation" >
            <div class="navigation-item" id="link_1">
                <a class="link"  href="https://doka.guide" target="_blank"><p class="pLink">DOKA</p></a>
                <script>
                    document.getElementById("link_1").addEventListener("click", () => {
                        window.open("https://doka.guide")
                    })
                </script>
            </div>
            <div class="navigation-item" id="link_2">
                <a class="link" href="https://habr.com/ru/feed/" target="_blank"><p class="pLink">Habr</p></a>
                <script>
                    document.getElementById("link_2").addEventListener("click", () => {
                        window.open("https://habr.com/ru/feed/")
                    })
                </script>
            </div>
            <div class="navigation-item" id="link_3">
                <a class="link" href="https://itproger.com/" target="_blank"><p class="pLink">ITprogger</p></a>
                <script>
                    document.getElementById("link_3").addEventListener("click", () => {
                        window.open("https://itproger.com/")
                    })
                </script>
            </div>
            <div class="navigation-item" id="link_4">
                <a class="link" href="https://itproger.com/" target="_blank"><p class="pLink">Parser</p></a>
            </div>
        </nav>
        <section class="content" id="content">
            <div class="JavaBox">
                <p>поприветствуй гостей</p>
                <script>
                    Hello()
                </script>
            </div>  <!-- написать в тэге Hello! I am Java Script!-->
            <div class="JavaBox">
                <span style="font-size: 32px" onclick="showMessage()">Покажи уведомление<br> с приветствием</span>
            </div>  <!-- использовать метод alert() -->
            <div class="JavaBox" style="display: flex">
                <span style="font-size: 32px; margin: 0 0.7rem; border-right: black solid 0.1rem; padding-right: 1rem" onclick="changeFontColor()">Поменять цвет<br> в Header</span>
                <span style="font-size: 32px; margin: 0 0.7rem; border-right: black solid 0.1rem; padding-right: 1rem" onclick="changeText()">Поменять текст<br> в Header</span>
                <span style="font-size: 32px; margin: 0 0.7rem" onclick="cancelChanges()">Вернуть<br> как было</span>
            </div> <!-- заменить текст, изменить цвет в тэге header или вернуть как в CSS -->
            <div class="JavaBox" onclick="userName()">
                <h2 id="greet" >Как тебя зовут?<br></h2>
                <script>
                    function userName() {
                        document.getElementById('myHeader').innerHTML = "Кодим. "
                        var userName = prompt("Как тебя зовут?")
                        $('#greet').text(`Привет, ${userName}!`)
                        document.getElementById('myHeader').append(`${userName} и я!`)
                    }
                </script>

            </div>
            <div class="JavaBox" id="ChangeThis">Нажми на меня!
                <script>
                    $(document).ready(function(){
                    $("#ChangeThis").click(function(){
                        $(this).text("Ты нажал на меня!");
                    });
                    });
                </script>
            </div> <!-- jQuery. Поменять текст тэга -->
            <div class="JavaBox" id="one">Выключено
                <script>
                    var i = 'true'
                    setInterval(document.getElementById('one').addEventListener("click", function () {
                        if(i === 'true'){
                            this.textContent = 'Включено...';
                            this.id = 'two';
                            this.style.backgroundColor = "rgb(17,255,0)"
                            i = 'false'
                        }
                        else{
                            this.textContent = 'Выключено';
                            this.id = 'one';
                            this.style.backgroundColor = ""
                            i = 'true'
                        }

                    }), 1000)
                </script>
        </div>  <!-- Кнопка-триггер c использованием setInterval() и addEventListener() -->
 <!--       <div class="JavaBox">
                <script>
                </script>
            </div>                       --код для добавления нового JavaBox-->
        </section>
        <section style="height: 50rem" id="content2">
        </section>
        <footer class="page-footer">
            <h1>2025</h1>
        </footer>
    </div>
</body>
</html>