<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body style="margin: 0; box-sizing: border-box; background-color: #252525">
    <header style="margin-top: 20px">
        <h1 style="text-align: center; padding: 20px; color: #c5c5c5; font-size: 80px">{{title}}</h1>
    </header>
    <div style="display: flex; justify-content: center">
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2020)}}"><h3 style="
        text-align: center; padding: 5px">2020</h3></a>
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2021)}}"><h3 style="
        text-align: center; padding: 5px">2021</h3></a>
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2022)}}"><h3 style="
        text-align: center; padding: 5px">2022</h3></a>
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2023)}}"><h3 style="
        text-align: center; padding: 5px">2023</h3></a>
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2024)}}"><h3 style="
        text-align: center; padding: 5px">2024</h3></a>
        <a style="text-decoration: none; color: #dedede" href="{{ url_for('parser', year=2025)}}"><h3 style="
        text-align: center; padding: 5px">2025</h3></a>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
        {% if year %}
            {% for item in json %}
                {% if item.year == year %}
                    <a style="text-decoration: none; color: #c5c5c5" href="{{ item.link }}">
                        <div style="height: 430px; width: 200px; background-color: #494949; margin: 6px; padding: 0px; text-align: center; border-radius: 20px; border: black solid 2px; box-shadow: black 4px 4px 10px">
                            <p style="height: 30px; padding: 0px">{{ item.title }}</p>
                            <img src="{{ item.img }}" alt="{{ item.title }}" style="width: 200px; height: 300px; border: black solid 1px; border-radius: 10px">
                            <h3 style="margin: 0; padding: 10px">{{ item.year }}</h3>
                            {% if item.kp %}
                            <p style="margin: 0; padding: 0">kp: {{ item.kp }}
                            {% endif %}
                            {% if item.imdb %}
                            imdb: {{ item.imdb }}</p>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for item in json %}
                <a style="text-decoration: none; color: #c5c5c5" href="{{ item.link }}">
                    <div style="height: max-content; width: 200px; background-color: #494949; margin: 18px; padding: 5px; text-align: center; border-radius: 20px; border: black solid 2px; box-shadow: black 4px 4px 10px">
                        <h4 style="text-decoration: none">{{ item.title }}</h4>
                        <img src="{{ item.img }}" alt="{{ item.title }}" style="width: 200px; height: 300px; border: black solid 1px; border-radius: 10px">
                        <h4 style="text-decoration: none">{{ item.year }}</h4>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>